body {
    
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4b6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
nav {
    background-color: #B03052;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #B03052;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #B03052;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 8px 0;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.profil {
    background: #EBE8DB;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.profil p {
    text-align: left;
    padding-left: 10px;
}

.profil h1 {
    text-align: left;
    padding-left: 100px;
}
nav {
    background-color: #B03052;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #B03052;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #B03052;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 8px 0;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}
.riwayatpendidikan {
    background: #EBE8DB;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.riwayatpendidikan p {
    text-align: left;
    padding-left: 10px;
}

.riwayatpendidikan h2 {
    text-align: left;
    padding-left: 100px;
}
nav {
    background-color: #B03052;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #B03052;
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #B03052;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 8px 0;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.Pengalaman {
    background: #EBE8DB;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.Pengalaman p {
    text-align: left;
    padding-left: 10px;
}

.Pengalaman h2 {
    text-align: left;
    padding-left: 100px;
}
tr:hover {
    background-color: #e0f2f1;
}